@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
}
body {
    font-family: 'Outfit', sans-serif;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    background-color: #f0f0f0;
}
header {
    background-color: #4A90E2;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.heading {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}
.game-area {
    background-color: #d8e4f1;
    border-radius: 10px;
    width: 80%;
    max-width: 850px;
    min-height: 90vh;
    height: auto;
    margin: 20px auto 20px auto;
    padding: 20px;
    text-align: center;
}

.info-area {
    background-color: rgb(226, 235, 244);
    width: 70%;
    max-width: 700px;
    line-height: 20px;
    margin: 10px auto 20px auto;
    font-size: 1rem;
    color: black;
    padding: 15px;
    border-radius: 8px;
}
button {
    justify-content: center;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    line-height: 1.2;
    margin: 0;
    font-size: 1.2rem;
}
.control {
    min-width: 140px;
    height: 40px;
    padding: 10px 15px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
button:hover {
    background-color: white;
    color: #4A90E2;
}

.btn-start {
    background-color: white;
    border: 2px solid black;
    color: black;
    margin: 5px 0 10px 0;
    font-size: 1.2rem;
    height: 40px;
    padding: 0 18px;
    width: auto;
    min-width: 160px;
}
.round-display {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.choice img{
    max-width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
}
.choices-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 5px 0 5px 0;
}

footer {
    color: white;
    background-color: #4A90E2;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    font-size: 0.9rem;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
}
.rules, .how-to-play {
    margin: 3px 0;
    text-align: left;
}
/* Responsive Design */
@media (max-width: 600px) {
    .round-display {
    gap: 20px;
  }

  .choice img {
    width: 120px;
    height: 120px;
  }
    .heading {
        font-size: 2rem;
    }
    .game-area {
        width: 95%;
        padding: 15px;
    }
    .footer-content {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    .rules, .how-to-play {
        max-width: 100%;
        text-align: center;
    }
   
}
